{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row top-title">

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Errore</h2>
                        <h4>{{ error }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome.all.min.css') }}">
{% endblock %}
{% block javascripts %}
{% endblock %}