{% extends 'base.html.twig' %}
{% block title %}Listino Prezzi{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <h3>Prezzi <small>Listino</small></h3>
                </div>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div id="pricesTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            loadTable();
        });
        function loadTable() {
            $.ajax({
                url: '{{ url('ajax_price_list') }}',
                dataType: 'html',
                success: function(html) {
                    $('#pricesTable').html(html)
                }
            })
        }
    </script>
{% endblock %}