{% extends 'base.html.twig' %}
{% block title %}Cliente{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-9">
                    <h3>Cliente <small>Mappa</small></h3>
                </div>
            </div>
            <div class="row">
                <!-- TODO: Decide to implement or not -->
            </div>
        </div>
    </div>
{% endblock %}