{% extends 'base.html.twig' %}
{% block title %}Impostazioni{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <h3>Impostazioni <small>Generali</small></h3>
                </div>
            </div>
            <div class="row col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-info">
                                    <strong>Funzionalità disattivata!</strong>
                                    <br/>
                                    <p>Questa funzionalità è stata disattivata in programmazione.
                                        <br/>Non si necessita la modifica delle impostazioni per un prodotto creato ad hoc.
                                        <br/>Questa sezione sarà disponibile per gli acquirenti esterni del sistema.</p>
                                </div>
                            </div>
                        </div>
                        Nessun contenuto caricato.
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}